.fail__text {
    color: var(--theme-default-header);
    font-size: var(--font-size-header);
    text-align: center;
    line-height: 1.5;
    margin: var(--spaing-ultra-large) auto;
    width: 500px;
    text-shadow: var(--text-shadow-blue);
}
.fail__img {
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: auto;
}